.hotel_name{
    font-size: 42px;
    font-weight:400;
}
.article_h1{
    display: flex;
    flex-direction: row;
    justify-content: center
}
.at-article__info{
    text-align: center;
}
.information_tag{
    background: #6190E8;
    color:#eee;
}
.star{
    display: flex;
    flex-direction: row;
    &_text{
        font-size: 32px;
        margin-left:12px;
        font-weight: 600;
    }
}
.introduction{
    text-indent: 2em;
}
.basic_information_title{
    font-weight:700;
    margin-right:15px;
}